{% extends 'base.html' %} 

{% load static %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

  {# as we want to display login successful message in the dashboard page after login #} 
  {% include 'includes/alerts.html' %}

  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <!--   SIDEBAR   -->
        {% include 'includes/dashboard_sidebar.html' %}
        <br />
        <a class="btn btn-light btn-block" href="{% url 'logout' %}">
          <i class="fa fa-power-off"></i> <span class="text">Log out</span>
        </a>
        <!--   SIDEBAR .//END   -->
      </aside>
      <main class="col-md-9">
        <article class="card">
          <header class="card-header">
            <strong class="d-inline-block mr-3">Change Your Password </strong>
          </header>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <form action="{% url 'change_password' %}" method="POST">
                  {% csrf_token %}

                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="current_password" class="form-label">Current Password</label>
                      <input type="password" name="current_password" id="current_password" class="form-control" required placeholder="Enter your current password">
                    </div>
                    <div class="form-group col-md-12">
                      <label for="new_password" class="form-label">New Password</label>
                      <input type="password" name="new_password" id="new_password" class="form-control" required placeholder="Enter your new password">
                    </div>
                    <div class="form-group col-md-12">
                      <label for="confirm_new_password" class="form-label">Confirm New Password</label>
                      <input type="password" name="confirm_new_password" id="confirm_new_password" class="form-control" required placeholder="Confirm your new password">
                    </div>
                  </div>
                  <input type="submit" value="Save Changes" class="btn btn-primary">
                </form>

              </div>
            </div>
            <!-- row.// -->
          </div>
          <!-- card-body .// -->
          
        </article>
        <!-- order-group.// -->
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
