{% extends 'base.html' %} 

{% load static %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

  {# as we want to display login successful message in the dashboard page after login #} 
  {% include 'includes/alerts.html' %}

  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <!--   SIDEBAR   -->
        {% include 'includes/dashboard_sidebar.html' %}
        <br />
        <a class="btn btn-light btn-block" href="{% url 'logout' %}">
          <i class="fa fa-power-off"></i> <span class="text">Log out</span>
        </a>
        <!--   SIDEBAR .//END   -->
      </aside>
      <main class="col-md-9">
        <article class="card">
          <header class="card-header">
            <strong class="d-inline-block mr-3">Edit Your Profile </strong>
          </header>
          <div class="card-body">
            <div class="text-right mb-3">
              <img src="{{ user_profile.profile_picture.url }}" alt="{{ user_profile.user.full_name }} profile picture" width="100" height="100"style="border-radius: 50%; object-fit: cover;">
            </div>
            <div class="row">
              <div class="col-md-12">
                {# here, enctype="multipart/form-data" is used so that uploaded image will be sent with POST data #}
                <form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="first_name" class="form-label">First Name</label>
                      {{ user_form.first_name }}
                    </div>
                    <div class="form-group col-md-6">
                      <label for="last_name" class="form-label">Last Name</label>
                      {{ user_form.last_name }}
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="phone_number" class="form-label">Phone Number</label>
                      {{ user_form.phone_number }}
                    </div>
                    <div class="form-group col-md-6">
                      <label for="profile_picture" class="form-label">Profile Picture</label>
                      {{ user_profile_form.profile_picture }}
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="address_line_1" class="form-label">Address Line 1</label>
                      {{ user_profile_form.address_line_1 }}
                    </div>
                    <div class="form-group col-md-6">
                      <label for="address_line_2" class="form-label">Address Line 2</label>
                      {{ user_profile_form.address_line_2 }}
                    </div>
                  </div>
                  
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="city" class="form-label">City</label>
                      {{ user_profile_form.city }}
                    </div>
                    <div class="form-group col-md-4">
                      <label for="state" class="form-label">State</label>
                      {{ user_profile_form.state }}
                    </div>
                    <div class="form-group col-md-4">
                      <label for="country" class="form-label">Country</label>
                      {{ user_profile_form.country }}
                    </div>
                  </div>
                  <input type="submit" value="Save Changes" class="btn btn-primary">
                </form>

              </div>
            </div>
            <!-- row.// -->
          </div>
          <!-- card-body .// -->
          
        </article>
        <!-- order-group.// -->
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
