{# In Django, autoescape is a feature of the templating system that automatically escapes characters like <, >, and & in HTML to prevent security vulnerabilities like cross-site scripting (XSS). However, there might be times when you need to disable autoescaping, especially if you trust the content or need to output raw HTML. #}
{% autoescape off %}

    Hi {{ user.first_name }}

    Please click on the link below to reset your password:
    http://{{ current_site }}{% url 'resetPassword_validate' uidb64=encoded_user_id token=token %}


    If you think it's not you, please ignore this email.

{% endautoescape %}