{% extends 'base.html' %} 

{% load static %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

  {# as we want to display login successful message in the dashboard page after login #} 
  {% include 'includes/alerts.html' %}

  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <!--   SIDEBAR   -->
        {% include 'includes/dashboard_sidebar.html' %}
        <br />
        <a class="btn btn-light btn-block" href="{% url 'logout' %}">
          <i class="fa fa-power-off"></i> <span class="text">Log out</span>
        </a>
        <!--   SIDEBAR .//END   -->
      </aside>
      <main class="col-md-9">
        <article class="card">
          <header class="card-header">
            <strong class="d-inline-block mr-3">Your Order History </strong>
          </header>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Order #</th>
                      <th scope="col">Order Name</th>
                      <th scope="col">Phone</th>
                      <th scope="col">Order Total</th>
                      <th scope="col">Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in orders %}
                    <tr>
                      <th scope="row">{{ order.order_number }}</th>
                      <td>{{ order.full_name }}</td>
                      <td>{{ order.phone_number }}</td>
                      <td>$ {{ order.order_total }}</td>
                      <td>{{ order.updated_at }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <!-- row.// -->
          </div>
          <!-- card-body .// -->
          
        </article>
        <!-- order-group.// -->
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
