{% extends 'base.html' %}
<!-- loading static files -->
{% load static %}

<!-- Main content -->
{% block content %}
<section class="section-content padding-y bg">
  <div class="container">
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
      <div class="row no-gutters">
        <aside class="col-md-6">
          <article class="gallery-wrap">
            <div class="img-big-wrap">
              <a href="#"><img src="{{ product.images.url }}" /></a>
            </div>
            <!-- img-big-wrap.// -->
          </article>
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-md-6 border-left">
          <!-- Implementing form to submit the product with variation -->
          <form action="{% url 'add_to_cart' product.id %}" method="POST">
            {% csrf_token %}
            <article class="content-body">
              <h2 class="title">{{ product.name }}</h2>
              
              <!-- Showing average raing and total number of rating for this product -->
              <div class="rating-stars">
                <span>
                  {# fa-star-o means blank star, fa-star-half-o means half star, fa-star means full star #}
                  <i class="fa fa-star{% if product.average_rating < 0.5 %}-o{% elif product.average_rating < 1 %}-half-o {% endif %}"></i>
                  <i class="fa fa-star{% if product.average_rating < 1.5 %}-o{% elif product.average_rating < 2 %}-half-o {% endif %}"></i>
                  <i class="fa fa-star{% if product.average_rating < 2.5 %}-o{% elif product.average_rating < 3 %}-half-o {% endif %}"></i>
                  <i class="fa fa-star{% if product.average_rating < 3.5 %}-o{% elif product.average_rating < 4 %}-half-o {% endif %}"></i>
                  <i class="fa fa-star{% if product.average_rating < 4.5 %}-o{% elif product.average_rating < 5 %}-half-o {% endif %}"></i>
                </span>
                <span>Total {{ product.count_rating }} reviews</span>
              </div>

              <div class="mb-3">
                <var class="price h4">$ {{ product.price }}</var>
              </div>

              <p>{{ product.description }}</p>

              <hr />
              <div class="row">
                <div class="item-option-select">
                  <h6>Choose Color</h6>
                  <div
                    class="btn-group btn-group-sm btn-group-toggle flex-wrap"
                    data-toggle="buttons"
                  >
                    {# As we have a foreignkey relationship from product to productvariation, as we haven't set related name, #}
                    {# so,to access the productvariation table from the product table attribute, #}
                    {# we need to use '_set' at the end of productvariation and #}
                    {# then we can access the attributes and functions of productvariation table with product class object. #}
                    <!-- RADIO options for colors -->
                    {% for color in product.productvariation_set.colors %}
                    <label class="btn btn-light">
                      <input
                        type="radio"
                        name="color"
                        value="{{ color.variation_value | capfirst }}"
                      />
                      {# here, color is a queryset, so from queryset we are taking variation_value field #}
                      <!-- capfirst converts first letter to capital and rest in small -->
                      {{ color.variation_value | capfirst}}
                    </label>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <!-- row.// -->
              <div class="row">
                <div class="item-option-select">
                  <h6>Select Size</h6>
                  <div
                    class="btn-group btn-group-sm btn-group-toggle flex-wrap"
                    data-toggle="buttons"
                  >
                    {% for size in product.productvariation_set.sizes %}
                    <label class="btn btn-light">
                      <input
                        type="radio"
                        name="size"
                        value="{{ size.variation_value | capfirst }}"
                      />
                      {{ size.variation_value | capfirst }}
                    </label>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <!-- row.// -->
              <hr />
              {% if product.stock <= 0 %}
                <h5 class="text-danger">Out of stock</h5>
              {% else %}
              <!-- if the product has more than 0 stock -->
              <button type="submit" class="btn btn-primary">
                <span class="text"
                  >Add to cart <i class="fas fa-shopping-cart"></i
                ></span>
              </button>
              <!-- end if -->
              {% endif %}
            </article>
            <!-- product-info-aside .// -->
          </form>
        </main>
        <!-- col.// -->
      </div>
      <!-- row.// -->
    </div>
    <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->

    <br />

    <div class="row">
      <div class="col-md-9">
        <header class="section-heading">
          <h5>Give your valuable review about {{ product.name }} </h5>
        </header>
        <article class="box mb-3">
          {% include 'includes/alerts.html' %}
          <form action="{% url 'submit_review' product.id %}" method="POST">
            {% csrf_token %}

            <!-- Review Stars -->
            <div class="mb-3 row">
              <label for="subject" class="col-sm-2 col-form-label">Rate this product</label>
              <div class="col-sm-10">
                <div class="form-check rate">

                  <input type="radio" name="ratings" value="5" id="review_10" required>
                  <label for="review_10" title="5"></label>
                  
                  <input type="radio" name="ratings" value="4.5" id="review_9" required>
                  <label class="half" for="review_9" title="4.5"></label>

                  <input type="radio" name="ratings" value="4" id="review_8" required>
                  <label for="review_8" title="4"></label>
                  
                  <input type="radio" name="ratings" value="3.5" id="review_7" required>
                  <label class="half" for="review_7" title="3.5"></label>

                  <input type="radio" name="ratings" value="3" id="review_6" required>
                  <label for="review_6" title="3"></label>
                  
                  <input type="radio" name="ratings" value="2.5" id="review_5" required>
                  <label class="half" for="review_5" title="2.5"></label>

                  <input type="radio" name="ratings" value="2" id="review_4" required>
                  <label for="review_4" title="2"></label>
                  
                  <input type="radio" name="ratings" value="1.5" id="review_3" required>
                  <label class="half" for="review_3" title="1.5"></label>

                  <input type="radio" name="ratings" value="1" id="review_2" required>
                  <label for="review_2" title="1"></label>
                  
                  <input type="radio" name="ratings" value="0.5" id="review_1" required>
                  <label class="half" for="review_1" title="0.5"></label>
                  
                </div>
              </div>
            </div>

            <!-- Review Subject -->
            <div class="mb-3 row">
              <label for="subject" class="col-sm-2 col-form-label">Review Title</label>
              <div class="col-sm-10">
                <input type="text" name="subject" id="subject" class="form-control" >
              </div>
            </div>

            <!-- Review Body -->
            <div class="mb-3 row">
              <label for="review" class="col-sm-2 col-form-label">Review Body</label>
              <div class="col-sm-10">
                <textarea name="review" id="review" class="form-control"></textarea>
              </div>
            </div>


            <!-- If user is logged in then -->
            {% if user.is_authenticated %}
              <!-- if user ordered the product then -->
              {% if is_product_ordered %}
                <input type="submit" value="Submit Review" class="btn btn-primary">

              <!-- if user does not ordered the product then -->
              {% else %}
                <p>You must purchase {{ product.name }} to submit a review about it.
              {% endif %}

            <!-- if user is not logged in -->
            {% else %}
              <p>You must log in before posting your review. <span><a href="{% url 'login' %}">Login Now</a></span></p>
            {% endif %}

          </form>
        </article>
      </div>

      <div class="col-md-9">
        <header class="section-heading">
          <h3>Customer Reviews</h3>

          <!-- Showing average raing and total number of rating for this product -->
          <div class="rating-stars">
            <span>
              {# fa-star-o means blank star, fa-star-half-o means half star, fa-star means full star #}
              <i class="fa fa-star{% if product.average_rating < 0.5 %}-o{% elif product.average_rating < 1 %}-half-o {% endif %}"></i>
              <i class="fa fa-star{% if product.average_rating < 1.5 %}-o{% elif product.average_rating < 2 %}-half-o {% endif %}"></i>
              <i class="fa fa-star{% if product.average_rating < 2.5 %}-o{% elif product.average_rating < 3 %}-half-o {% endif %}"></i>
              <i class="fa fa-star{% if product.average_rating < 3.5 %}-o{% elif product.average_rating < 4 %}-half-o {% endif %}"></i>
              <i class="fa fa-star{% if product.average_rating < 4.5 %}-o{% elif product.average_rating < 5 %}-half-o {% endif %}"></i>
            </span>
            <span>Total {{ product.count_rating }} reviews</span>
          </div>
        </header>
        
        {% for review in reviews %}
          <article class="box mb-3">
            <div class="icontext w-100">
              <img
                src="{{ review.user_profile.profile_picture.url }}" alt="{{ review.user_profile }} profile picture"
                class="img-xs icon rounded-circle"
              />
              <div class="text">
                <span class="date text-muted float-md-right">{{ review.updated_at }} </span>
                <h6 class="mb-1">{{ review.user.full_name }}</h6>
                <div class="rating-stars">
                  <span>
                    {# fa-star-o means blank star, fa-star-half-o means half star, fa-star means full star #}
                    <i class="fa fa-star{% if review.ratings == 0.5 %}-half-o{% elif review.ratings < 1 %}-o {% endif %}"></i>
                    <i class="fa fa-star{% if review.ratings == 1.5 %}-half-o{% elif review.ratings < 2 %}-o {% endif %}"></i>
                    <i class="fa fa-star{% if review.ratings == 2.5 %}-half-o{% elif review.ratings < 3 %}-o {% endif %}"></i>
                    <i class="fa fa-star{% if review.ratings == 3.5 %}-half-o{% elif review.ratings < 4 %}-o {% endif %}"></i>
                    <i class="fa fa-star{% if review.ratings == 4.5 %}-half-o{% elif review.ratings < 5 %}-o {% endif %}"></i>
                  </span>
                </div>
              </div>
            </div>
            <!-- icontext.// -->
            <div class="mt-3">
              <h6>{{ review.subject }}</h6>
              <p>{{ review.review }}</p>
            </div>
          </article>
        {% endfor %}
      </div>
      <!-- col.// -->
    </div>
    <!-- row.// -->
  </div>
  <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
